---
name: "Build and tests"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cmakelists-version:
    uses: froglets/flappy-frog/.github/workflows/_parse_version.yml@master
    with:
      github_sha: ${{ github.sha }}

  ci-release:
    needs:
      - cmakelists-version
    uses: ./.github/workflows/_build.yml
    with:
      library_name: ${{ github.event.repository.name }}
      library_version: ${{ needs.cmakelists-version.outputs.LIBRARY_VERSION }}
      profile: release
      conanfile: conanfile.py

  ci-macos-release:
    needs:
      - cmakelists-version
    uses: ./.github/workflows/_build_macos.yml
    with:
      library_name: ${{ github.event.repository.name }}
      library_version: ${{ needs.cmakelists-version.outputs.LIBRARY_VERSION }}
      profile: ios
      conanfile: conanfile.py
